header {
	background-color: pink;
	display: flex;
	align-items: center;
	justify-content: space-around;
	z-index: 1;
}

header > div {
	text-align: center;
}
header > button {
	height: 3rem;
	width: 5rem;
	border-radius: 1.5rem;
	font-weight: bold;
	background-color: white;

	z-index: 1;
}
main {
	display: grid;
	grid-template-columns: repeat(10, 1fr);

	background-color: lemonchiffon;
}

.level-buttons {
	text-align: center;
	font-size: 2rem;
	row-gap: 1rem;
}

.level-buttons > button {
	padding: 0.5rem;
	margin-top: 1rem;

	background-color: lightgreen;
	font-weight: bold;
	font-size: 1.2rem;
	border-radius: 1rem;
	border: 0;
}
