@import "reset.css";

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  display: flex;
  position: sticky;
  top: 0;
  padding: 20px 15px;
  width: 100vw;
  font-weight: bold;
  font-size: 40px;
  /* block인 경우에는 width 100 설정이 불필요한 것 같긴 한데,, */
  /*왜 align-items 없이 패딩만 주면 햄버거바가 탈출하는가??*/
  justify-content: space-between;
  align-items: center;
  background-color: lightgreen;
  color: brown;
}

body {
  background-color: lemonchiffon;
}

main {
  display: flex;
  justify-content: space-between;
}

nav {
  width: 18vw;
  height: 25vh;
  border-radius: 20px; /*radius 설정할 때 왜 px 설정이 %보다 더 자연스러운지 차이 찾아보기*/
  margin-top: 18px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 8px 10px;
  position: sticky; /*nav 스티키 적용이 안 되고 있는 것 같습니다,, 카드 아이템들이랑 같이 스크롤 되는 문제 미해결*/
  background-color: lightgreen;
  color: brown;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav > h2 {
  margin: 0dp;
  padding: 0dp;
  font-weight: bold;
  color: black;
}

nav ul {
  display: inline-block;
  list-style-type: none; /*리스트 점 없애주기*/
  padding: 0px;
}

nav li {
  background-color: white;
  border-radius: 10px;
  margin: 10px 0px;
  padding: 7px 5px;
}

nav a {
  text-decoration: none;
  color: inherit;
}

.card-section {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.card-item {
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 14vw;
  height: 35vh;
  background-color: white;
  border-radius: 10px;
  margin: 5px;
  white-space: nowrap; /*모양이 뭔가 이상하다. 그냥 양쪽으로 삐져나오는 것만 안 보이게 해주는 듯*/
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-item__name {
  /* 이 이름이 항상 카드 위쪽에 붙어 있게 하고 싶다*/
  font-size: 20px;
  font-weight: bold;
  margin-top: 0px;
}

.hashtag-list {
  font-size: 13px;
  display: flex;
  /* font-weight: bold; */
  color: gray;
  margin-top: 5px;
  justify-content: space-between;
  white-space: wrap;
  overflow: hidden;
  text-overflow: clip;
}

.hashtag {
  margin-right: 5px;
}

.card-item__image {
  margin-top: 10px;
  width: 150px;
  height: 150px;
}

.card-item__like {
  align-self: flex-end;
  margin-right: 5px;
}
