@import "reset.css";

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  display: flex;
  position: sticky;
  top: 0;
  padding: 20px 15px;
  width: 100vw;
  font-weight: bold;
  font-size: 40px;
  justify-content: space-between;
  align-items: center;
  background-color: lightgreen;
  color: brown;
}

body {
  background-color: lemonchiffon;
}

main {
  display: flex;
  justify-content: space-between;
}

nav {
  width: 18vw;
  height: 25vh;
  border-radius: 20px;
  margin-top: 18px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 8px 10px;
  position: sticky;
  background-color: lightgreen;
  color: brown;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav > h2 {
  margin: 0dp;
  padding: 0dp;
  font-weight: bold;
  color: black;
}

nav ul {
  display: inline-block;
  list-style-type: none;
  padding: 0px;
}

nav li {
  background-color: white;
  border-radius: 10px;
  margin: 10px 0px;
  padding: 7px 5px;
}

nav a {
  text-decoration: none;
  color: inherit;
}

.card-section {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.card-item {
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 14vw;
  height: 35vh;
  background-color: white;
  border-radius: 10px;
  margin: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-item__name {
  font-size: 20px;
  font-weight: bold;
  margin-top: 0px;
}

.hashtag-list {
  font-size: 13px;
  display: flex;
  color: gray;
  margin-top: 5px;
  justify-content: space-between;
}

.hashtag {
  margin-right: 5px;
}

.card-item__image {
  margin-top: 10px;
  width: 150px;
  height: 150px;
}

.card-item__like {
  align-self: flex-end;
  margin-right: 5px;
}
