@import "reset.css";

:root {
  --color-header: #fcf9be;
  --color-background: #e8f3d6;
  --color-nav: #ffdca9;
  --color-header-title: #ff9494;
  --color-nav-title: #3c2a21;
  --color-card-background: #ffffff;
  --color-hashtag: #3c2a21;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--color-background);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  width: 100vw;
  height: 6.5rem;
  padding: 0 2rem;

  background-color: var(--color-header);
  color: var(--color-header-title);

  font-size: 2.3rem;
  font-weight: bold;


  z-index: 1;
}

.header-sidebar-article > h2 {
  margin-bottom: 3rem;
}

.header-sidebar-article div {
  margin-bottom: 1rem;
}
main {
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top: 7.2rem;
  left: 0.7rem;

  width: 20vw;
  height: 12rem;
  padding: 0.6rem;
  margin-top: 0.7rem;

  border-radius: 1rem;
  background-color: var(--color-nav);

  color: var(--color-nav-title);
  white-space: nowrap;
}

nav > h2 {
  position: relative;
  left: 0.7rem;
  top: 0.2rem;

  font-weight: bold;
  color: var(--color-nav-title);
  font-size: large;
}

nav ul {
  display: inline-block;
  padding: 0px;
}

nav li {
  background-color: var(--color-card-background);
  border-radius: 10px;
  margin: 10px 0px;
  padding: 7px 5px;
}

nav a {
  text-decoration: none;
  color: inherit;
}

.card-section {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  position: relative;
  top: 7.2rem;

  margin: 2rem;
}

.card-item {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 13vw;
  height: 18rem;
  margin: 0.5rem;

  background-color: var(--color-card-background);
  border-radius: 2rem;
}

.card-item > h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.card-item > ul {
  display: flex;
  margin-top: 0.7rem;
  justify-content: center;

  width: 95%;
  height: 1rem;
  flex-wrap: wrap;
  overflow: hidden;

  color: var(--color-hashtag);
  font-size: 1rem;
}

.card-item ul > li::before {
  content: "#";
}

.card-item ul > li {
  width: 3rem;
  flex-wrap: wrap;
  overflow: hidden;
}

.card-item > img {
  width: 75%;
  height: 48%;
  margin: 1.6rem 0;
}

.card-item > footer {
  position: absolute;
  bottom: 6%;
  right: 10%;

  font-size: 1.4rem;
}

@media screen and (max-width: 1199px) {
  .card-item {
    width: 16vw;
  }
}
@media screen and (max-width: 992px) {
  .card-item {
    width: 20vw;
  }
}
@media screen and (max-width: 767px) {
  .card-item {
    width: 26vw;
  }
}
@media screen and (max-width: 600px) {
  .card-item {
    width: 38vw;
  }
}

@media screen and (max-width: 575px) {
  .card-item {
    width: 80vw;
  }
  nav {
    display: none;
  }
}
