@font-face {
	font-family: "UhBeeJJIBBABBA";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeJJIBBABBA.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}
